---
layout: default
---

{% if page.url == "/" %}
    {% assign notification_content = content | strip_html | strip %}
    {% if notification_content != "" %}
        <div id="notification-bar" class="bp-notification bg-secondary is-marginless">
            <div class="bp-container">
                <div class="row">
                    <div class="col">
                        <div class="field has-addons bp-notification-flex">
                            <div class="control has-text-centered has-text-white">
                                {{ content }}
                            </div>
                            <div class="control">
                                <a id="cancel-notification" class="button has-text-white">
                                    <span class="delete sgds-icon sgds-icon-cross is-size-4"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

<section class="bp-hero bg-hero">
	<div class="bp-hero-body">
		<div class="bp-container margin--top--lg">
			<div class="row is-vcentered is-centered ma">
				<div class="col has-text-white is-hidden-touch has-text-centered">
					<h1 class="display padding--bottom--lg margin--none"><b>OpenDoc</b></h1>
					<p class="padding--bottom--lg">Openly accessible documents from the Singapore Government</p>
					<a href="{{ site.baseurl }}/#showcase" class="bp-button is-white is-outlined is-uppercase search-button">See Examples</a>
				</div>
					<div class="col has-text-white has-text-centered is-hidden-desktop">
						<h1 class="display padding--bottom--lg"><b>OpenDoc</b></h1>
						<p class=" padding--bottom--lg">
							Openly accessible documents from the Singapore Government
						</p>
						<a href="{{ site.baseurl }}/#showcase" class="bp-button is-white is-outlined is-uppercase search-button">See Examples</a>
					</div>
			</div>
		</div>
	</div>
</section>

<section class="bp-section">
	<div class="bp-container">
		<div class="row">
			<div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
				<p class="padding--bottom eyebrow is-uppercase">
					TRUSTED BY THESE AGENCIES
				</p>
			</div>
		</div>
		<div class="row has-text-centered margin--top padding--bottom is-hidden-touch">
			<div class="col helper">
				<img class="isomer-agency-logo" src="{{site.baseurl}}/images/govtech-logo.svg"/>
				<img class="isomer-agency-logo" src="{{site.baseurl}}/images/supremecourt-logo.png"/>
				<img class="isomer-agency-logo" src="{{site.baseurl}}/images/familyjusticecourts-logo.png"/>
				<img class="isomer-agency-logo" src="{{site.baseurl}}/images/statecourts-logo.png"/>
			</div>
		</div>
		<div class="row has-text-centered margin--top padding--bottom is-hidden-desktop">
			<div class="col is-one-fifth padding--bottom--lg helper">
				<img class="isomer-agency-logo" src="{{site.baseurl}}/images/govtech-logo.svg"/>
			</div>
			<div class="col is-one-fifth padding--bottom--lg helper">
				<img class="isomer-agency-logo" src="{{site.baseurl}}/images/supremecourt-logo.png"/>
			</div>
			<div class="col is-one-fifth padding--bottom--lg helper">
				<img class="isomer-agency-logo" src="{{site.baseurl}}/images/familyjusticecourts-logo.png"/>
			</div>
			<div class="col is-one-fifth padding--bottom--lg helper">
				<img class="isomer-agency-logo" src="{{site.baseurl}}/images/statecourts-logo.png"/>
			</div>
		</div>
	</div>
</section>

<section class="bp-section" style="background-color:#ebb969" id="showcase">
	<div class="bp-container padding--bottom--lg">
		<div class="row">
			<div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
				<p class="padding--bottom eyebrow is-uppercase has-text-black">
					SHOWCASE
				</p>
				<h1 class="has-text-black padding--bottom--lg"><b>Documents reimagined using OpenDoc</b></h1>
				<p class="has-text-black">See how OpenDoc is already changing how people read documents</p>
			</div>
		</div>
		<div class="row has-text-centered margin--top padding--bottom">
			<div class="col is-one-third">
				<a href="https://docs.opendoc.sg" target="_blank" class="is-media-card">
					<div class="image-hoverable">
						<img class="isomer-example" src="{{site.baseurl}}/images/opendoc-thumb.png" />
						<div class="image-hover-overlay"></div>
						<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
					</div>
				</a>
				<h5 class="padding--top--sm padding--bottom--lg has-text-black"><b>OpenDoc</b></h5>
			</div>
			<div class="col is-one-third">
				<a href="https://epd.supremecourt.gov.sg/" target="_blank" class="is-media-card">
					<div class="image-hoverable">
						<img class="isomer-example" src="{{site.baseurl}}/images/sup-court-thumb.png" />
						<div class="image-hover-overlay"></div>
						<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
					</div>
				</a>
				<h5 class="padding--top--sm padding--bottom--lg has-text-black"><b>Supreme Court</b></h5>
			</div>
			<div class="col is-one-third">
				<a href="https://epd.familyjusticecourts.gov.sg/" target="_blank" class="is-media-card">
					<div class="image-hoverable">
						<img class="isomer-example" src="{{site.baseurl}}/images/family-court-thumb.png" />
						<div class="image-hover-overlay"></div>
						<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
					</div>
				</a>
				<h5 class="padding--top--sm padding--bottom--lg has-text-black"><b>Family Justice Courts</b></h5>
			</div>
		</div>
	</div>
</section>


<section class="bp-section">
	<div class="bp-container padding--bottom--lg">
    <div class="row">
			<div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
				<p class="padding--bottom eyebrow is-uppercase">
					Benefits
				</p>
				<h1 class="has-text-secondary padding--bottom--lg"><b>Reachable, Searchable, Readable</b></h1>
				<p>Use OpenDoc to manage and edit your documents online. Our documents are indexed for search and mobile responsive by design, so you can spend more time on your content.</p>
			</div>
    </div>

		<div class="row margin--top padding--bottom">
			<div class="col is-one-third">
				<div class="text-card is-white">
					<img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/ic-responsive-design.svg" />
					<h4 class="padding--top--sm has-text-primary padding--bottom--sm"><b>Responsive Design</b></h4>
					<div class="has-text-primary">Documents adapt to all types of devices, allowing for comfortable viewing no matter where you are</div>
				</div>
				
			</div>
			<div class="col is-one-third">
				<div class="text-card is-white">
					<img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/ic-powerful-search.svg" />
					<h4 class="padding--top--sm has-text-primary padding--bottom--sm"><b>Powerful search</b></h4>
					<div class="has-text-primary">Complex searches are executed extremely fast. Users get relevant content quicker and more accurately</div>
				</div>
				
			</div>
			<div class="col is-one-third">
				<div class="text-card is-white">
					<img class="text-card-icon padding--bottom--sm" src="{{site.baseurl}}/images/ic-fast-secure.svg" />					
					<h4 class="padding--top--sm has-text-primary padding--bottom--sm"><b>Fast, secure and scalable</b></h4>
					<div class="has-text-primary">Documents are hosted in the cloud, and changes can be tracked and made quickly</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bp-section bg-hero-bottom">
  <div class="bp-container">
    <div class="row">
      <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-black">
        <h1 class="padding--bottom"><b>Ready to start?</b></h1>
        <p class="padding--bottom--lg has-text-black">Let us discuss your needs with you and help you come on-board OpenDoc</p>
      	<a href="{{ site.baseurl }}/contact-us">
        	<div class="bp-button is-black is-outlined is-uppercase search-button">
        		Get in touch
        	</div>
      	</a>
      </div>
    </div>
	</div>
</section>
